body {
  background: #333344;
  body: 800px;
  height: 100%; }

#visualizer {
  display: none; }

button {
  background: #8AC7A1;
  border: 1px solid #56ae77;
  border-radius: 0.25em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0.5em;
  outline: none;
  overflow: hidden;
  padding: 0.8em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  transition: color 0.25s; }
  button:hover {
    background: #68b685;
    cursor: pointer; }
  button:active, button:selected {
    background: #56ae77; }

#content {
  position: relative; }
  #content section {
    background: #333344;
    height: 100%;
    width: 100%; }
  #content #meta {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.7rem;
    font-weight: 300;
    left: -140px;
    position: absolute;
    text-shadow: 0 1px 0px rgba(255, 255, 255, 0.2);
    top: 50px;
    transform: rotate(-90deg);
    width: 300px; }
    #content #meta p {
      margin-bottom: 0.1em; }
    #content #meta strong {
      font-weight: 700; }
  #content #gesture_list {
    background: #EEE;
    border-radius: 0.25em;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    float: left;
    height: 100%;
    margin-left: 50px;
    padding-left: 0.2em;
    width: 200px; }
  #content .gesture_label {
    border-bottom: 1px solid #DEDEDE;
    font-size: 1.2em;
    text-shadow: 0 1px 1px white;
    padding: 1em;
    transition: background 0.25s; }
    #content .gesture_label:hover {
      background: #FFFFFFF;
      cursor: pointer; }
  #content #new_gesture_label {
    font-weight: 700; }
  #content #actions {
    margin-left: 0;
    overflow: hidden;
    padding-left: 1em;
    width: auto; }
  #content #action_buttons {
    clear: both;
    margin-left: 50px;
    margin-top: 1rem; }
