body {
  background: #333344;
  body: 800px;
  font-family: 'Proxima Nova', 'Lato', sans-serif;
  height: 100%;
  margin: 0;
  position: relative; }

#visualizer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1; }
  #visualizer canvas {
    height: 100% !important;
    width: 100% !important; }

button {
  background: #8AC7A1;
  border: 1px solid #56ae77;
  border-radius: 0.25em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0.5em;
  outline: none;
  overflow: hidden;
  padding: 0.8em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  transition: color 0.25s; }
  button:first-child {
    margin-left: 0; }
  button:hover {
    background: #68b685;
    cursor: pointer; }
  button:active, button:selected {
    background: #56ae77; }

.Hidden {
  display: none; }

#content section {
  background: #333344;
  height: 100%;
  width: 100%; }
#content #meta {
  bottom: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.7rem;
  font-weight: 300;
  left: 0px;
  position: absolute;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.2);
  width: 300px; }
  #content #meta p {
    display: inline-block;
    margin: 0.25em; }
  #content #meta strong {
    font-weight: 700; }
#content #gesture_list {
  background: #EEE;
  border-radius: 0.25em;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
  display: inline-block;
  float: left;
  height: 100%;
  margin-left: 10px;
  overflow: hidden;
  padding-left: 0.2em;
  width: 200px; }
  #content #gesture_list h1 {
    background: #E6E6E6;
    border-bottom: 1px solid #DDD;
    font-size: 2em;
    font-weight: 300;
    margin: 0;
    padding: 0.7em 1.5em;
    text-align: center; }
#content .gesture_label {
  border-bottom: 1px solid #DEDEDE;
  font-size: 1.2em;
  text-shadow: 0 1px 1px white;
  padding: 1em;
  transition: background 0.25s; }
  #content .gesture_label:hover {
    background: #FFFFFFF;
    cursor: pointer; }
  #content .gesture_label.Selected {
    background: #8AC7A1;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 700;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2); }
#content #new_gesture_label {
  font-weight: 700; }
#content #actions {
  margin-left: 0;
  overflow: hidden;
  padding-left: 1em;
  width: auto; }
#content #action_buttons {
  clear: both;
  margin-left: 10px;
  margin-top: 1rem; }
