#content {
    section {
        background: #333344;
    }
    #gesture_list {
        background: #EEE;
        display: inline-block;
        float: left;
        width: 200px;
    }
    #actions {
        overflow: hidden;
        width: auto;
    }
}
