$selected: #8AC7A1;

body {
    background: #333344;
    body: 800px;
    font-family: 'Proxima Nova', 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    position: relative;
}

#visualizer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    canvas {
        height: 100% !important;
        width: 100% !important;
    }
}

button {
    background: $selected;
    border: 1px solid darken($selected, 15%);
    border-radius: 0.25em;
    box-shadow: 0 1px 2px 0 transparentize(black, 0.5);
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0.5em;
    outline: none;
    overflow: hidden;
    padding: 0.8em;
    text-shadow: 0 1px 1px transparentize(black, 0.5);
    transition: color 0.25s;
    &:first-child {
        margin-left: 0;
    }
    &:hover {
        background: darken($selected, 10%);
        cursor: pointer;
    }
    &:active, &:selected {
        background: darken($selected, 15%);
    }
}

.Hidden {
    display: none;
}

#content {
    section {
        background: #333344;
        height: 100%;
        width: 100%;
    }
    #meta {
        bottom: 0;
        color: transparentize(white, 0.4);
        font-size: 0.7rem;
        font-weight: 300;
        left: 0px;
        position: absolute;
        text-shadow: 0 1px 0px transparentize(white, 0.8);
        width: 300px;
        p {
            display: inline-block;
            margin: 0.25em;
        }
        strong {
            font-weight: 700;
        }
    }
    #gesture_list {
        background: #EEE;
        border-radius: 0.25em;
        box-shadow: 0 2px 2px 2px transparentize(black, 0.5);
        display: inline-block;
        float: left;
        height: 100%;
        margin-left: 10px;
        overflow: hidden;
        padding-left: 0.2em;
        width: 200px;
        h1 {
            background: #E6E6E6;
            border-bottom: 1px solid #DDD;
            font-size: 2em;
            font-weight: 300;
            margin: 0;
            padding: 0.7em 1.5em;
            text-align: center;
       }
    }
    .gesture_label {
        border-bottom: 1px solid #DEDEDE;
        font-size: 1.2em;
        text-shadow: 0 1px 1px white;
        padding: 1em;
        transition: background 0.25s;
        &:hover {
            background: #FFFFFFF;
            cursor: pointer;
        }
        &.Selected {
            background: $selected;
            color: transparentize(white, 0.2);
            font-weight: 700;
            text-shadow: 0 -1px 1px transparentize(black, 0.8);
        }
    }
    #new_gesture_label {
        font-weight: 700;
    }
    #actions {
        margin-left: 0;
        overflow: hidden;
        padding-left: 1em;
        width: auto;
    }
    #action_buttons {
        clear: both;
        margin-left: 10px;
        margin-top: 1rem;
    }
}
